header{
    padding: 5px;
    background-color:aliceblue;
    border-bottom: solid 50%;
}

#start-page {
    display: block;
    text-align: center;
    padding-top: 50px;
}

.questions {
    display: block;
    padding-top: 50px;
    text-decoration: none;
}

.questions ul {
    list-style-type: none;
    padding-top: 45px;
}

.questions h1 {
    text-align: center;
}

.questions ul li {
    display: block;
}

#start-page {
    display: none;
}

#q1 {
    display: none;
}

#q2 {
    display: none;
}

#q3 {
    display: none;
}

#q4 {
    display: none;
}

#q5 {
    display: none;
}

#final-score {
    display:none;
}
#high-scores {
    display: none;
}

#end-page {
    display: none;
}




